<br>
<br>

<h3>All of our lovely Aliens:</h3>

<ul>
  {{#each data}}
  	<li>
        <img src={{photo}} alt="Alien">
  	   <p>Name: {{name}}</p>
       <p>Species: {{species}}</p>
       <p>Home Planet: {{planet}}</p>
       <p>Gender: {{gender}}</p>
       <p>Age: {{age}}</p>
      <p>Scores: {{scores}}</p>
  	</li>
  {{/each}}
</ul>

<div>
  <form action="/" method="POST">
  	<textarea type="text" name="wish"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div>