<br>
<br>

<h3>All of our lovely Aliens:</h3>

<ul>
  {{#each data}}

        <img src={{photo}} alt="Alien">
  	   <p>Name: {{name}}</p>
       <p>Species: {{species}}</p>
       <p>Home Planet: {{planet}}</p>
       <p>Gender: {{gender}}</p>
       <p>Age: {{age}}</p>
      <p>Scores: {{scores}}</p>
      <hr>
 
  {{/each}}
</ul>
